h1 {
    font-size: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 35px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    margin-top: 10px;
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.lycNav {
    background-color: gray;
    overflow: hidden;
}

.lycNav a {
    float: left;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.lycNav a:hover {
    background-color: white;
    color: black;
}

.lycNav a.active {
    background-color: cornflowerblue;
    color: white;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.88;
    min-width: 1000px;
    z-index: -10;
    zoom: 1;
    background-color: #fff;
    background: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}

.introduction {
    font-size: 20px;
    color: black;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 2%;
    margin-top: 5%;
}

.social-icon {
    color:white;
    transition: color 0.2s;
    text-decoration: none;
    margin: 0 10px;
}

.social-icon:hover {
    color:grey;
}

#social_media {
    text-align: center;
}

.button {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 2%;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

#aboutMe {
    text-align: center;
}